<div class="container">
<div class="css">
<hr>
<center><h1>Hi, I'm Kenn</h1></center>
<center><h4>A Budding Software Developer</h4></center>
<hr>

</div>

<h4><center>"What separates design from art is that design is meant to be functional"</center></h4>

<br>

<div class="skills">
<hr>
<h3><center>Skills<center></h3>
<hr>


<ul>
    <% @skills.each do |skill| %>
    <div class="col-md-4", id="skill">
      <center><%= link_to skill.language, skill_path(skill) %></center><br>
    </div>
    <% end %>
</ul>

</end> 

<br> <%= link_to "New", new_skill_path%>
</end>
</end>

</div>
</div>
