
<h1><%= @skill.language %></h1>



<%= link_to "Delete Skill", skill_path(@skill), :data => { :confirm => "Are you sure?", :method => "delete"}  %>

<%= link_to "Edit Skill", edit_skill_path(@skill) %>

<%= link_to "Add New Project", new_skill_project_path(@skill) %>




